<body>

  <header>
    <div class="nav-bar">
      <a href="" class="logo">ShoesW</a>
      <div class="navigation">
        <div class="nav-items">
          <i class="uil uil-times nav-close-btn"></i>
          <a href="#"><i class="uil uil-home"></i> Inicio</a>
          <a href="#"><i class="uil uil-compass"></i> Explorar</a>
          <a href="#"><i class="uil uil-info-circle"></i> Acerca</a>
          <a href="#" [routerLink]="['/auth/Login']"><i class="uil uil-document-layout-left"></i>Ingresar</a>
        </div>
      </div>
      <i class="uil uil-apps nav-menu-btn"></i>
    </div>
  </header>

  <section class="home">
    <div class="media-icons">
      <a href="#"><i class="uil uil-facebook-f"></i></a>
      <a href="#"><i class="uil uil-instagram"></i></a>
      <a href="#"><i class="uil uil-twitter"></i></a>
    </div>


    <div class="swiper bg-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="../../../assets/images/fondoZapato.jpg" alt="">
        </div>
        <div class="card">
          <h2 class="title">Shoes <span>SW</span></h2>
        </div>
      </div>
    </div>


  </section>


  <script src="assets/js/swiper-bundle.min.js"></script>
  <script src="assets/js/main.js"></script>

</body>
