<app-navbar>
</app-navbar>
<div class="container">
  <div class="vm-100">
    <div class="card">
      <div class="card-header">
        <img class="card-img-top" src="https://st2.depositphotos.com/4320929/10714/v/600/depositphotos_107140044-stock-illustration-running-shoe-icon.jpg" alt="">
      </div>
      <ul class="list-group list-group-flush" >
        <li class="list-group-item">Descripcion</li>
        <li class="list-group-item">Precio</li>
        <li class="list-group-item">Marca</li>
      </ul>
      <button>
        Añadir al carrito
      </button>
    </div>
  </div>
</div>

